<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testorderservice.mapper.TOrderMapper">

    <resultMap id="BaseResultMap" type="com.example.testorderservice.dao.TOrder">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="commodityCode" column="commodity_code" jdbcType="VARCHAR"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,user_id,
        commodity_code,count,amount
    </sql>

    <!--创建订单-->
    <insert id="createOrder" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.example.testorderservice.dao.TOrder">
        insert into t_order values(null,#{order.orderNo},#{order.userId},#{order.commodityCode},${order.count},${order.amount})
    </insert>
</mapper>
